@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
   font-family: 'Montserrat', sans-serif;
 }

 header {
    padding: 20px;
    background-color: gold;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
  }
  header .left-content {
    flex-basis: 90%;
  }

  header nav {
    flex-basis: 10%;
  }

 header nav ul li {
  list-style-type: none;
  color: black;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}


 #content {
    max-width: 800px;
    margin: 0 auto;
   margin-bottom: 20px;
 }


 #content .book-limit .data-book .left-content figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
 }

 /* css class */
 
 #content .book-limit {
   padding: 20px;
 }

 main #content .data-book {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
 }

 main #content .data-book .left-content,.right-content {
   flex-basis: 50%;
 }


 #content .data-book .left-content figure img {
   object-fit: cover;
   object-position: center;
   width: 300px;
   border-radius: 30px;
 }

 main #content .data-book .right-content ul li {
   list-style-type: none;
   font-size: 1.2em;
   margin-top: 10px;
 }

 .btn-cta {
   padding: 10px;
   border: none;
   font-size: 1.2em;
   cursor: pointer;
   border-radius: 5px;
 }

 .btn-cta:hover {
   font-weight: 700;
 }

 #content .book-limit .data-book .right-content  .btn-update {
   color: black;
   background-color: gold;
  margin-right: 20px;
 }

 #content .book-limit .data-book .right-content .btn-delete {
   color: white;
   background-color: green;
   
 }

 main #content .book-limit .btn-search {
  color: white;
  font-weight: 700;
  background-color: rgb(5, 83, 5);
 }

 #content .book-limit .btn-add-data {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgb(198, 23, 23);
  color: white;
  font-weight: bold;
 }

 
#content .book-limit .form-input {
  padding: 10px;
  font-size: 1.2em;
  width: 88.5%;
}